.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add-btn {
  font-size: 16px;
  font-weight: 200;
}

.tasks-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
}

.load-more-btn {
  margin: 20px auto 0 auto;
  display: block;
  padding: 10px 20px;
  font-size: 16px;
}
